.cell-templates {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  gap: 5px;

  .template-row {
    display: flex;
    align-items: center;
    gap: 10px;

    .template-display {
      width: 40px;
      height: 40px;

      cursor: pointer;
      background-position: center;
      background-size: cover;

      display: flex;
    }
  }
}

.preview-container {
  padding: 10px;

  .template-preview {
    width: 150px;
    height: 150px;
    overflow: hidden;
    cursor: pointer;
    background-position: center;
    background-size: cover;

    display: flex;
  }
}
