@import '../common/palette.scss';

.grid-zone {
  width: 100%;
  height: 100%;
  background-color: $mainBackgroundColor;

  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;

  .grid-zone-toolbar-area {
    flex: 0 0 60px;
    width: fit-content;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .grid-zone-content {
    flex: 1 1 auto;
    width: 100%;
    overflow: hidden;
  }
}
