.grid-cell-details {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 20px;

  .border-control-line {
    display: flex;
    align-items: center;
    gap: 12px;

    .bp3-control {
      margin: 0;
    }
  }
}
