.grid-cell-details {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 20px;

  .border-control-line {
    display: flex;
    align-items: center;
    gap: 5px;

    .bp3-numeric-input {
      .bp3-input-group {
        width: 30px;
      }
    }

    .label {
      margin-bottom: 2px;
    }
  }
}
