@import './common/palette.scss';

.grid-planner-entry {
  width: 100%;
  height: 100%;
  background-color: $mainBackgroundColor;
}

.entry-dialog {
  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.grid-planner {
  width: 100%;
  height: 100%;

  display: flex;

  .navbar-area {
    flex: 0 0 60px;
  }

  .details-panel-area {
    flex: 0 0 300px;
    overflow-y: auto;
  }

  .grid-zone-area {
    flex: 1 1 auto;
  }
}
