.grid-details {
  .my-form-group {
    .bp3-form-content {
      padding-top: 5px;
      display: flex;
      flex-direction: column;
      gap: 5px;
    }

    .input-group {
      display: flex;
      align-items: center;
      gap: 5px;
    }

    .apply-button {
      width: 70px;
    }
  }

  .bp3-numeric-input {
    .bp3-input-group {
      width: 50px;
    }
  }
}
